language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '8'
  script:
  - npm run test
  - npm run build
before_script:
  - npm prune
after_success:
  - ./scripts/deploy.sh
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
language: node_js
